<h1>User Info</h1>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
<h2>name</h2>
<%= user.name %>
<h2>introduction</h2>
<%= user.introduction %>
<h2>edit</h2>
<%= link_to 'edit', edit_user_path(user) %>